window {
    background-color: #4e4743;
    font-family: terminus;
}

#input {
    border: none;
    background-color: #555555;
    font-size: 18px;
}

#outer-box {
    margin: 10px;
}

#entry:selected {
    background-color: #48b9c7;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #ccc;
}

#scroll label {
    margin: 2px 0px;
}
