* {
	border: none;
	border-radius: 0;
	font-family: Terminus, monospace;
	font-size: 12px;
	min-height: 0;
}

button:hover {
	background: rgba(0, 0, 0, 0.2);
	box-shadow: inherit;
}

window#waybar {
	background-color: #000000;
	color: #ffffff;
	transition-property: background-color;
	transition-duration: 0.5s;
}

#window {
	background-color: rgba(43, 48, 59, 0);
	color: #ffffff;
	padding: 0 10px;
}

window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.empty {
	background-color: transparent;
}

#workspaces button {
	padding: 0;
	background-color: transparent;
	color: #ffffff;
	border-bottom: 3px solid transparent;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
	box-shadow: inherit;
	text-shadow: inherit;
	border-bottom: 3px solid #ffffff;
}

#workspaces button.focused,
#workspaces button.active {
	background-color: #64727d;
	border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#mode {
	background-color: #c46200;
	border-bottom: 3px solid #ffffff;
}

#wireplumber {
	padding: 0 5px;
	background-color: #f1c40f;
	color: #000000;
}

#wireplumber.muted {
	background-color: #90b1b1;
	color: #2a5c45;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#disk,
#mode,
#idle_inhibitor,
#mpd {
	padding: 0 10px;
	margin: 0 4px;
	color: #ffffff;
}

#clock {
	background-color: #64727d;
}

#battery {
	background-color: #ffffff;
	color: #000000;
}

#battery.full {
	color: #ffffff;
	background-color: #34772a;
}

#battery.charging {
	color: #ffffff;
	background-color: #26a65b;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #000000;
}

#cpu {
	background-color: #2ecc71;
	color: #000000;
}

#disk {
	background-color: #cc6000;
}

/* Memory */
#memory.good {
	background-color: #34772a;
}

#memory {
	background-color: #9b59b6;
}

#memory.critical {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#backlight {
	background-color: #90b1b1;
}

#network {
	background-color: #2980b9;
}

#network.disconnected {
	background-color: #f53c3c;
}

#pulseaudio {
	background-color: #f1c40f;
	color: #000000;
}

#pulseaudio.muted {
	background-color: #90b1b1;
	color: #2a5c45;
}

#custom-media {
	background-color: #66cc99;
	color: #2a5c45;
	min-width: 100px;
}

#custom-media.custom-spotify {
	background-color: #66cc99;
}

#custom-media.custom-vlc {
	background-color: #ffa000;
}

#temperature {
	background-color: #f0932b;
}

#temperature.critical {
	background-color: #eb4d4b;
}

#tray {
	background-color: #2980b9;
}

#idle_inhibitor {
	background-color: #2d3436;
}

#idle_inhibitor.activated {
	background-color: #ecf0f1;
	color: #2d3436;
}

#mpd {
	background-color: #66cc99;
	color: #2a5c45;
}

#mpd.disconnected {
	background-color: #f53c3c;
}

#mpd.stopped {
	background-color: #90b1b1;
}

#mpd.paused {
	background-color: #51a37a;
}
